{
    "command": "coffer-reconcile --config-file /etc/coffer/coffer.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/coffer.conf",
            "dest": "/etc/coffer/coffer.conf",
            "owner": "coffer",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/registry-ca.crt",
            "dest": "/etc/coffer/registry-ca.crt",
            "owner": "coffer",
            "perm": "0644"
        }{% if coffer_reconcile_mode == 'periodic' %},
        {
            "source": "{{ container_config_directory }}/reconcile-metrics.crt",
            "dest": "/etc/coffer/reconcile-metrics.crt",
            "owner": "coffer",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/reconcile-metrics.key",
            "dest": "/etc/coffer/reconcile-metrics.key",
            "owner": "coffer",
            "perm": "0600"
        }{% endif %}{% if coffer_enable_maintenance_identity | bool %},
        {
            "source": "{{ container_config_directory }}/maintenance-application-credential-id",
            "dest": "/etc/coffer/maintenance-application-credential-id",
            "owner": "coffer",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/maintenance-application-credential-secret",
            "dest": "/etc/coffer/maintenance-application-credential-secret",
            "owner": "coffer",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/maintenance-client.crt",
            "dest": "/etc/coffer/maintenance-client.crt",
            "owner": "coffer",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/maintenance-client.key",
            "dest": "/etc/coffer/maintenance-client.key",
            "owner": "coffer",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0644"
        }{% endif %}
    ],
    "directories": [
        {
            "path": "/var/log/kolla/coffer",
            "owner": "coffer:coffer",
            "perm": "0750"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/coffer",
            "owner": "coffer:coffer",
            "recurse": true
        }
    ]
}
