# BEGIN COFFER UI PREVIEW
frontend coffer_ui_preview_horizon_tls
    bind 100.123.168.66:18443
    mode tcp
    default_backend coffer_ui_preview_horizon_tls

backend coffer_ui_preview_horizon_tls
    mode tcp
    option tcp-check
    server coffer_aio 192.168.122.221:443 check inter 5s fall 3 rise 2

frontend coffer_ui_preview_skyline_tls
    bind 100.123.168.66:19999
    mode tcp
    default_backend coffer_ui_preview_skyline_tls

backend coffer_ui_preview_skyline_tls
    mode tcp
    option tcp-check
    server coffer_aio 192.168.122.221:9999 check inter 5s fall 3 rise 2
# END COFFER UI PREVIEW
